@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

body {
    background-color: #1a222c;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#particles-js {
    display: grid;
    grid: 1fr / 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
}

#particles-js .particles-js-canvas-el {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.header {
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #fff;
    z-index: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.site-wrap {
    display: grid;
    grid: 2fr 1fr 1fr 1fr/ 1fr;
    justify-items: center;
}

.site-title, .site-description, .site-location {
    justify-self: stretch;
    align-self: center;
}

.site-title {
    font-size: 50px;
    font-weight: 100;
}

.site-description {
    font-size: 20px;
    font-weight: 100;
}

.site-location {
    font-size: 18px;
    font-weight: 100;
}

.header-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 100px));
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    justify-content: center;
    justify-items: center;
}

.header-icon {
    padding: 10px;
    display: grid;
    grid: 1fr 1fr / 1fr;
    justify-items: center;
}

.header-title {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.header-icon-img {
    width: 25px;
}

.header-icon-img-games {
    height: 25px;
}

a {
    text-decoration: none;
    color: #fff;
}

@media only screen and (min-width: 768px) {
    .site-title {
        font-size: 76px;
        font-weight: 100;
    }
    .site-description {
        font-size: 34px;
        font-weight: 100;
    }
    .site-location {
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 20px;
    }
    .header-icon-img {
        width: 40px;
    }
    .header-icon-img-games {
        height: 40px
    }
}